h2{
    color: green;
}
p{
    color: aqua;
    text-align: center;
    background-color: hotpink;
}
.title{
    color:brown;
    text-align: right;
    font-size: 70px;
}
body {
    background-image: url(11.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
#teacher{
    font-size: 90px;
    color: darkorange;
    text-align: center;
    background-color: grey;
    padding: 100px;
}
p.error{
    color: chocolate;
    font-size: 20px;
    font-weight: bold;
}
p.success{
    color: darkkhaki;
    font-size: 20px;
    font-weight: bolder;
}
div{
    width: 200px;
    height: 100px;
    float: left;
}
#box{
    background-color: rgb(199, 20, 20);
}
#box2{
    background-color: rgb(20, 199, 35);
}
#box3{
    background-color: rgb(20, 92, 199);
}
#box4{
    background-color: rgb(92, 13, 95);
}
#box5{
    background-color: rgb(5, 21, 44);
}
.nav{
    background-color: yellow;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    clear: left;
}
.nav li{
    display: inline-block;
    font-size: 20px;
    padding: 30px;
}
img{
    border-radius: 50%;
    width: 200px;
    height: 300px;
    object-fit: none;
    opacity: 0.5;
}
div.hover{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 2s;
}
div.hover:hover{
    width: 300px;
    background-color: rgb(20, 199, 35);
}
.button{
    background-color: blue;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
}